TestÂ  Insert and Remove

In [1]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (1, 'Seafood Miso Soup', 8, 'Boiling Pot', 3.6, 1);

In [2]:
DELETE FROM Meals 
WHERE MealID = 1;

Adding elements now that I know the syntax is correct

In [3]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (1, 'Seafood Miso Soup', 8, 'Boiling Pot', 3.6, 1);

In [4]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (2, 'Grilled Lamprey', 22, 'Grill', 4.2, 2);

In [5]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (3, 'Fresh Tofu', 21, 'Cutting Board', 3, 2);

In [6]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (4, 'Rice Ball', 6, 'Cutting Board', 3, 1);

In [7]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (5, 'Boiled Tofu', 22, 'Boiling Pot', 4.2, 1);

In [8]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (6, 'Secret Dried Fish Crisps', 30, 'Cutting Board', 4.8, 2);

In [9]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (7, 'Dew Runny Eggs', 18, 'Steamer', 1.8, 2);

In [10]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (8, 'Roasted Mushroom', 18, 'Grill', 3.6, 1);

In [11]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (9, 'Pork Bowl', 20, 'Boiling Pot', 4.2, 2);

In [12]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (10, 'Pork & Trout Kebab', 26, 'Grill', 4.2, 2);

In [13]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (11, 'Stinky Tofu', 24, 'Frying Pan', 3, 1);

In [14]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (12, 'Potato Croquettes', 22, 'Frying Pan', 3.6, 1);

In [15]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (13, 'Frying Cicada Sloughs', 19, 'Frying Pan', 4.8, 1);

In [16]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (14, 'Tonkotsu Ramen', 60, 'Boiling Pot', 4.8, 3);

In [17]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (15, 'Power Soup', 34, 'Boiling Pot', 7.2, 3);

In [18]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (16, 'Fried Lampreys', 27, 'Frying Pan', 4.2, 2);

In [19]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (17, 'Udumbara Cake', 78, 'Steamer', 4.2, 3);

In [20]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (18, 'Tofu Stew', 19, 'Boiling Pot', 3, 1);

In [21]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (19, 'Miso Tofu', 21, 'Boiling Pot', 4.2, 2);

In [22]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (20, 'Deep Fried Tofu', 16, 'Frying Pan', 4.2, 1);

In [23]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (21, 'Scholar''s Ginkgo', 60, 'Steamer', 4.8, 3);

In [24]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (22, 'Beef Bowl', 20, 'Boiling Pot', 4.2, 2);

In [25]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (23, 'Vegetable Salad', 56, 'Cutting Board', 3, 3);

In [26]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (24, 'Pork Rice Ball', 14, 'Cutting Board', 3.6, 2);

In [27]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (25, 'Shirayuki', 98, 'Boiling Pot', 7.2, 4);

In [28]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (26, 'Hunter''s Casserole', 66, 'Boiling Pot', 4.8, 4);

In [29]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (27, 'Falling Blossoms', 50, 'Cutting Board', 7.2, 4);

In [30]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (28, 'Pink Rice Ball', 30, 'Cutting Board', 4.8, 3);

In [31]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (29, 'Carved Rose Salad', 20, 'Cutting Board', 3, 1);

In [32]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (30, 'Imitation Bear Paw', 70, 'Steamer', 7.2, 3);

In [33]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (31, 'Fried Pork Cutlet', 25, 'Frying Pan', 4.2, 2);

In [34]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (32, 'Dumplings', 35, 'Boiling Pot', 3, 2);

In [35]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (33, 'Pork Stir Fry', 15, 'Frying Pan', 4.8, 1);

In [36]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (34, 'Peach Tapioca', 55, 'Boiling Pot', 4.2, 2);

In [37]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (35, 'Hodgepodge', 40, 'Boiling Pot', 3, 2);

In [38]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (36, 'Energy Skewer', 50, 'Grill', 7.2, 3);

In [39]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (37, 'Daimyo''s Feast', 105, 'Boiling Pot', 6, 3);

In [40]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (38, 'Scones', 8, 'Steamer', 4.2, 1);

In [41]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (39, 'Salmon Steak', 58, 'Frying Pan', 6, 3);

In [42]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (40, 'Pancakes with Syrup', 22, 'Frying Pan', 5.4, 2);

In [43]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (41, 'Peach & Shrimp Salad', 25, 'Cutting Board', 6, 2);

In [44]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (42, 'Real Seafood Miso Soup', 55, 'Boiling Pot', 4.8, 2);

In [45]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (43, 'Kabayaki Lamprey', 42, 'Frying Pan', 4.8, 3);

In [46]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (44, 'Eggs Benedict', 35, 'Frying Pan', 4.2, 2);

In [47]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (45, 'Classic Steak', 60, 'Frying Pan', 4.2, 2);

In [48]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (46, 'Sashimi Platter', 88, 'Cutting Board', 3, 3);

In [49]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (47, 'Golden Ribs Soup', 65, 'Boiling Pot', 3.6, 2);

In [50]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (48, 'Cantonese Char Siu', 70, 'Grill', 4.2, 3);

In [51]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (49, 'Rainbow Pan-fried Pork Buns', 128, 'Frying Pan', 4.8, 4);

In [52]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (50, 'Italian Risotto', 70, 'Steamer', 3.6, 2);

In [53]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (51, 'Niten Ichiryu', 90, 'Grill', 10.8, 4);

In [54]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (52, 'Creamy Vegetable Chowder', 20, 'Steamer', 5.4, 2);

In [55]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (53, 'Pork & Bamboo Shoots Stir Fry', 25, 'Frying Pan', 6, 2);

In [56]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (54, 'Mochi', 30, 'Cutting Board', 4.2, 2);

In [57]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (55, 'Flowing Somen', 40, 'Cutting Board', 4.2, 3);

In [58]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (56, 'Ino-Shika-Chou', 78, 'Steamer', 4.8, 3);

In [59]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (57, 'Peach Yatsuhashi', 55, 'Cutting Board', 3, 2);

In [60]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (58, 'Kaguya-hime', 65, 'Steamer', 7.2, 4);

In [61]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (59, 'Immortal Turkey', 65, 'Grill', 7.2, 4);

In [62]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (60, 'Steamed Egg & Bamboo Shoots', 40, 'Steamer', 3.6, 2);

In [63]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (61, 'Mapo Tofu', 32, 'Frying Pan', 3.6, 2);

In [64]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (62, 'Lunar Lover Biscuits', 66, 'Cutting Board', 6, 3);

In [65]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (63, 'Beef Wellington', 150, 'Frying Pan', 8.4, 4);

In [66]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (64, 'Lunar Dango', 80, 'Cutting Board', 4.8, 3);

In [67]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (65, 'Sichuan Boiled Fish', 68, 'Boiling Pot', 4.8, 3);

In [68]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (66, 'Hourai Branch', 125, 'Grill', 7.8, 5);

In [69]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (67, 'Fuji''s Lava', 125, 'Boiling Pot', 4.8, 3);

In [70]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (68, 'Cubic Kedama Ice Cream', 75, 'Cutting Board', 4.8, 3);

In [71]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (69, 'Cubic Kedama Volcanic Tofu', 85, 'Cutting Board', 4.8, 3);

In [72]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (70, 'Scarlet Devil Cake', 60, 'Cutting Board', 4.8, 3);

In [73]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (71, 'Unconscious Youkai Mousse', 60, 'Cutting Board', 4.8, 3);

In [74]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (72, 'Tangyuan', 35, 'Boiling Pot', 3, 2);

In [75]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (73, 'Pork & Mushroom Stir Fry', 20, 'Frying Pan', 3.6, 1);

In [76]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (74, 'Nigiri Sushi', 28, 'Cutting Board', 3.6, 1);

In [77]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (75, 'Secret Savory Mushroom Hotpot', 62, 'Boiling Pot', 5.4, 3);

In [78]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (76, 'Deep Fried Shrimp Tempura', 22, 'Frying Pan', 3.6, 1);

In [79]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (77, 'Cream of Mushroom Soup', 28, 'Boiling Pot', 4.8, 1);

In [80]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (78, 'Okonomiyaki', 24, 'Frying Pan', 3.6, 2);

In [81]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (79, 'Pickles', 16, 'Cutting Board', 3.6, 1);

In [82]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (80, 'Mushroom Maiden''s Tip Tap Pot', 112, 'Boiling Pot', 8.4, 4);

In [83]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (81, 'Takoyaki', 36, 'Frying Pan', 4.8, 2);

In [84]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (82, 'Golden Crispy Fish Cakes', 40, 'Frying Pan', 5.4, 2);

In [85]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (83, 'Creamy Crab', 88, 'Frying Pan', 7.2, 3);

In [86]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (84, 'Sea Urchin Sashimi', 108, 'Cutting Board', 4.8, 4);

In [87]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (85, 'All-Meat Feast', 115, 'Grill', 8.4, 4);

In [88]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (86, 'Imitation Sirikodama', 120, 'Boiling Pot', 7.2, 4);

In [89]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (87, 'Ordinary "Eat Me" Cupcake', 56, 'Steamer', 4.8, 2);

In [90]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (88, 'Shrimp-Stuffed Pumpkin', 55, 'Steamer', 5.4, 2);

In [91]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (89, 'Seven-Colored Yokan', 92, 'Steamer', 4.8, 4);

In [92]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (90, 'Buddha Jumps Over The Wall', 160, 'Boiling Pot', 10.8, 4);

In [93]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (91, 'Misery Cheese Sticks', 25, 'Steamer', 3.6, 1);

In [94]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (92, 'Crispy Spirals', 42, 'Cutting Board', 3, 1);

In [95]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (93, 'Sakura Pudding', 32, 'Steamer', 3.6, 2);

In [96]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (94, 'Lion''s Head', 28, 'Boiling Pot', 4.2, 1);

In [97]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (95, 'Cheese Omelette', 26, 'Frying Pan', 3.6, 1);

In [98]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (96, 'Neko-manma', 26, 'Cutting Board', 3, 1);

In [99]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (97, 'Ceiling-Longing Pie', 66, 'Steamer', 5.4, 2);

In [100]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (98, 'Salmon Tempura', 44, 'Frying Pan', 4.8, 2);

In [101]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (99, 'Giant Tamagoyaki', 60, 'Frying Pan', 7.2, 2);

In [102]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (100, 'Gloomy Fruit Pie', 36, 'Cutting Board', 4.8, 2);

In [103]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (101, 'Energy Pudding', 42, 'Steamer', 4.8, 2);

In [104]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (102, 'Instant*Death', 62, 'Grill', 5.4, 3);

In [105]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (103, 'Dragon Carp', 142, 'Steamer', 7.2, 4);

In [106]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (104, 'Oedo Boat Feast', 206, 'Cutting Board', 14.4, 4);

In [107]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (105, 'CAUTION!! Hellish Spice!', 108, 'Frying Pan', 7.2, 4);

In [108]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (106, 'Burn-out Pudding', 73, 'Steamer', 4.8, 4);

In [109]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (107, 'Kabuto Steamed Cake', 105, 'Steamer', 7.2, 3);

In [110]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (108, 'Agony Oden', 92, 'Boiling Pot', 7.2, 4);

In [111]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (109, 'Biscay Biscuits', 26, 'Grill', 3, 1);

In [112]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (110, 'Unzan Cotton Candy', 20, 'Frying Pan', 4.8, 1);

In [113]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (111, 'Baked Sweet Potato', 25, 'Grill', 3.6, 1);

In [114]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (112, 'Honeyed Chestnut', 30, 'Cutting Board', 3.6, 1);

In [115]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (113, 'Candied Sweet Potato', 30, 'Frying Pan', 3.6, 1);

In [116]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (114, 'Pine Nut Cake', 46, 'Steamer', 4.8, 2);

In [117]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (115, 'Pure White Lotus', 56, 'Steamer', 6, 2);

In [118]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (116, 'Smoked Buccaneer', 58, 'Grill', 5.4, 2);

In [119]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (117, 'Yashouma Dango', 45, 'Cutting Board', 5.4, 2);

In [120]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (118, 'Star Lotus Ship', 132, 'Cutting Board', 7.8, 4);

In [121]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (119, 'Buddha''s Delight', 97, 'Boiling Pot', 7.2, 4);

In [122]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (120, 'Heart-Throbbing Surprise!', 90, 'Steamer', 7.2, 4);

In [123]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (121, 'Tianshi''s Stewed Mushrooms', 55, 'Boiling Pot', 4.8, 2);

In [124]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (122, 'Golden Two-Shroom Wrap', 63, 'Frying Pan', 5.4, 3);

In [125]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (123, 'White Deer, Unyielding Pine', 72, 'Steamer', 7.2, 3);

In [126]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (124, 'Lotus Fish Lamps', 94, 'Steamer', 6.6, 4);

In [127]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (125, 'Tempura Platter', 72, 'Frying Pan', 4.2, 3);

In [128]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (126, 'Eight Trigram Fish Maws', 126, 'Boiling Pot', 8.4, 4);

In [129]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (127, 'Bamboo Meat Pot', 42, 'Boiling Pot', 4.2, 3);

In [130]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (128, 'Tomato Fries', 26, 'Frying Pan', 3.6, 1);

In [131]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (129, 'Red Bean Daifuku', 28, 'Cutting Board', 4.2, 2);

In [132]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (130, 'Plum Tea Rice', 32, 'Boiling Pot', 2.4, 1);

In [133]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (131, 'Mushroom Herb Road', 24, 'Boiling Pot', 3.6, 1);

In [134]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (132, 'Toon Pancake', 30, 'Frying Pan', 3.6, 1);

In [135]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (133, 'Rice Powder Meat', 72, 'Steamer', 5.4, 3);

In [136]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (134, 'Urchin Steamed Egg', 112, 'Steamer', 4.2, 3);

In [137]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (135, 'Bamboo Spring', 99, 'Steamer', 8.4, 4);

In [138]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (136, 'Scrumptious Storm', 185, 'Grill', 10.8, 5);

In [139]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (137, 'Nature''s Beauty', 78, 'Steamer', 5.4, 3);

In [140]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (138, 'Miasma Garden', 58, 'Boiling Pot', 4.8, 3);

In [141]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (139, 'Little Sweet "Poison"', 87, 'Steamer', 6, 3);

In [142]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (140, 'Faint Dream', 133, 'Steamer', 7.2, 4);

In [143]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (141, 'Peach Braised Pork', 42, 'Frying Pan', 4.8, 2);

In [144]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (142, 'Dorayaki', 40, 'Frying Pan', 3.6, 2);

In [145]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (143, 'Palace of the Han', 115, 'Boiling Pot', 7.2, 4);

In [146]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (144, 'Against The World!', 124, 'Cutting Board', 7.2, 4);

In [147]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (145, 'Heart-Warming Porridge', 35, 'Boiling Pot', 3, 1);

In [148]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (146, 'Molecular Egg', 80, 'Cutting Board', 4.2, 3);

In [149]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (147, 'Peach Flower Crystal Roll', 60, 'Steamer', 4.8, 3);

In [150]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (148, 'Kitten Canele', 45, 'Grill', 4.2, 2);

In [151]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (149, 'Eel Bowl with Egg', 45, 'Frying Pan', 3, 2);

In [152]:
INSERT INTO Meals (MealID, MealName, Cost, Station, CookTime, Lv)
VALUES (150, 'Long Hair Princess', 36, 'Steamer', 3, 2);