Creating tables

In [2]:
CREATE TABLE Days (
    DayIndex int PRIMARY KEY,
    MoneyEarned int NOT NULL,
    Tips int NOT NULL,
    MoneySpent int NOT NULL,
    Location varchar(255) NOT NULL,
    IzakayaSize int NOT NULL
);

In [3]:
CREATE TABLE Meals (
    MealID int PRIMARY KEY,
    MealName varchar(255) NOT NULL,
    Cost int NOT NULL,
    Station varchar(255) NOT NULL,
    CookTime float NOT NULL,
    Lv int NOT NULL
);

In [4]:
CREATE TABLE MealTags (
    MealID int FOREIGN KEY REFERENCES Meals(MealID),
    MealTag varchar(255) NOT NULL
);

In [5]:
CREATE TABLE MealTagsForbidden (
    MealID int FOREIGN KEY REFERENCES Meals(MealID),
    ForbiddenTag varchar(255) NOT NULL
);

In [6]:
CREATE TABLE MealMenus (
    DayIndex int FOREIGN KEY REFERENCES Days(DayIndex),
    MealID int FOREIGN KEY REFERENCES Meals(MealID)
);

In [7]:
CREATE TABLE Drinks (
    DrinkID int PRIMARY KEY,
    DrinkName varchar(255) NOT NULL,
    Cost int NOT NULL,
    Lv int NOT NULL
);

In [8]:
CREATE TABLE DrinkTags (
    DrinkID int FOREIGN KEY REFERENCES Drinks(DrinkID),
    DrinkTag varchar(255) NOT NULL
);

In [9]:
CREATE TABLE DrinkMenu (
    DayIndex int FOREIGN KEY REFERENCES Days(DayIndex),
    DrinkID int FOREIGN KEY REFERENCES Drinks(DrinkID)
);